/* purgecss start ignore */
@tailwind base;
@tailwind components;

/*
* === Default Overrides ===
*/

html {
  @apply font-hk font-medium antialiased;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  max-width: theme("screens.2xl");
}

/*
* === Form Overrides ===
*/

.form-input,
.form-textarea {
  @apply font-hk font-normal text-secondary py-3 px-5 border border-grey-darker rounded w-full focus:border-primary focus:ring-primary;
}

.form-select {
  @apply font-hk font-normal text-secondary-lighter py-2 px-4 border border-grey-darker rounded w-full  focus:border-primary focus:ring-primary;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23f35627' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
}

.form-checkbox,
.form-radio {
  @apply border border-grey-darker rounded text-primary focus:ring-primary;
}

/*
* === Tabs ===
*/

.tab-item.active {
  @apply bg-grey-light border-primary;
}

.tab-pane {
  @apply absolute top-0 opacity-0 pointer-events-none z-0 w-full;

  &.active {
    @apply relative opacity-100 pointer-events-auto z-10;
  }
}

/*
* === Custom Classes ===
*/

.item-height {
  @apply max-h-0;

  &.active {
    @apply max-h-infinite;
  }
}

.c-hero-gradient-bg {
  background-image: linear-gradient(90deg, rgba(55, 36, 31, 1) 40%, rgba(0, 0, 0, 0) 100%);
}

/*
* === Components ===
*/

.btn {
  @apply transition-all duration-300 px-8 py-4 inline-block rounded font-hk font-semibold uppercase tracking-wide text-center;

  &:focus {
    @apply outline-none;
  }
}

.btn-primary {
  @apply text-white bg-primary;

  &:hover {
    @apply bg-primary-light;
  }
}

.btn-outline {
  @apply bg-white text-primary border border-primary;

  &:hover {
    @apply bg-primary text-white;
  }
}

.btn-lg {
  @apply text-xl;
}

.btn-sm {
  @apply text-sm;
}

/*
* === Third Party Override ===
*/

.glide__bullet--active {
  @apply bg-primary;
}

.glide--swipeable {
  cursor: default !important;
}

/* purgecss end ignore */

@tailwind utilities;
